body {
  font-family: 'Comic Neue', 'Comic Sans MS';
  text-align: center;
  background-color: #211a14;
  margin: 0;
  color: white;
  padding: 0;
}

#menu {
  margin-top: 50px;
  color: white;
}

button {
  background-color: #FF7900;
  border: none;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  font-family: 'Comic Neue', 'Comic Sans MS';
}

#btn-menu {
  background-color: #574435;
  font-size: 14px;
  padding: 5px 15px;
}

#question {
  font-size: 24px;
  margin: 20px 0;
  color: white;
}

#answers button {
  display: inline-block;
  margin: 5px;
}

.correct {
  background-color: #4CAF50 !important;
  color: white !important;
}

.blink {
  animation: blink 0.5s step-start 0s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

.strikethrough {
  text-decoration: line-through;
}


.correct {
  background-color: green;
  color: white;
}

.blink {
  animation: blink 0.5s linear infinite;
}

.strikethrough {
  text-decoration: line-through;
}

@keyframes blink {
  50% { background-color: yellow; }
}

.brand {
  margin-top: 120px;          /* опускає напис вниз */
  color: #574435;             /* твій потрібний колір */
  text-align: center;
  font-family: 'Comic Neue', 'Comic Sans MS';
  letter-spacing: 0.5px;      /* робить напис легшим */
  opacity: 0.85;              /* менш нав'язливий, але читабельний */
}
